<div class="container">
<p id="notice"><%= notice %></p>

<h1 class="mt-5">Lista</h1>

<table class='table'>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list_path(list) %></td>
      </tr>
      <div class="image-home my-5">
      <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %> 
      </div>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New list', new_list_path %>
